.header {
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A71D31;
    font-family: 'Bungee Outline';
    border-bottom: 5px solid #D5BF86;
    box-shadow: 0 0 30px -18px #A71D31;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    padding-top: 30px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.item {
    position: relative;
    left: 550px;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: rgb(214, 64, 69);
    border-radius: 15px;


}

.item2 {
    position: relative;
    left: 800px;
    top: -51px;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: rgb(214, 64, 69);
    border-radius: 15px;
    

}